<app-categorysearch></app-categorysearch>
<button *ngFor="let food of listOfFoodGroups" class="btn btn-primary text-center" (click)="sendData(food)">{{food}}</button>




<div *ngIf="this.buttonPressed && itemChosen">

    <table>
        <tr>
            <th > NAME </th>
            <th> IMAGE </th>
            <th> INSTRUCTIONS </th>
          </tr>


          <div *ngFor=" let food of listOfRecipesForChicken">
              <tr *ngIf="itemChosen === 'CHICKEN'">
                <td>{{food.title}}</td>
                <td><img src="{{food.image}}" height="150" width="170"></td>
                <div *ngIf="food.analyzedInstructions[0] != undefined">
                    <td>
                    <ol>
                        <li *ngFor="let steps of food.analyzedInstructions['0'].steps">
                                {{ steps.step }}
                        </li>
                    </ol>
                    </td>
                </div>
              </tr>
          </div>

        <div *ngFor=" let food of listOfRecipesForBeef">
            <tr *ngIf="itemChosen === 'BEEF'">
                <td>{{food.title}}</td>
                <td><img src="{{food.image}}" height="150" width="170"></td>
                <div *ngIf="food.analyzedInstructions[0] != undefined">
                    <td>
                    <ol>
                        <li *ngFor="let steps of food.analyzedInstructions['0'].steps">
                                {{ steps.step }}
                        </li>
                    </ol>
                    </td>
                </div>
            </tr>
        </div>

        <div *ngFor=" let food of listOfRecipesForFish">
            <tr *ngIf="itemChosen === 'FISH'">
            <td>{{food.title}}</td>
                <td><img src="{{food.image}}" height="150" width="170"></td>
                <div *ngIf="food.analyzedInstructions[0] != undefined">
                    <td>
                    <ol>
                        <li *ngFor="let steps of food.analyzedInstructions['0'].steps">
                                    {{ steps.step }}
                        </li>
                    </ol>
                    </td>
                </div>
            </tr>
        </div>

        <div *ngFor=" let food of listOfRecipesForRice">
            <tr *ngIf="itemChosen === 'RICE'">
            <td>{{food.title}}</td>
                <td><img src="{{food.image}}" height="150" width="170"></td>
                <div *ngIf="food.analyzedInstructions[0] != undefined">
                    <td>
                    <ol>
                        <li *ngFor="let steps of food.analyzedInstructions['0'].steps">
                                    {{ steps.step }}
                        </li>
                    </ol>
                    </td>
                </div>
            </tr>
        </div>

        <div *ngFor=" let food of listOfRecipesForPasta">
            <tr *ngIf="itemChosen === 'PASTA'">
            <td>{{food.title}}</td>
                <td><img src="{{food.image}}" height="150" width="170"></td>
                <div *ngIf="food.analyzedInstructions[0] != undefined">
                    <td>
                    <ol>
                        <li *ngFor="let steps of food.analyzedInstructions['0'].steps">
                                    {{ steps.step }}
                        </li>
                    </ol>
                    </td>
                </div>
            </tr>
        </div>

        <div *ngFor=" let food of listOfRecipesForNuts">
            <tr *ngIf="itemChosen === 'NUTS'">
            <td>{{food.title}}</td>
                <td><img src="{{food.image}}" height="150" width="170"></td>
                <div *ngIf="food.analyzedInstructions[0] != undefined">
                    <td>
                    <ol>
                        <li *ngFor="let steps of food.analyzedInstructions['0'].steps">
                                    {{ steps.step }}
                        </li>
                    </ol>
                    </td>
                </div>
            </tr>
        </div>

        <div *ngFor=" let food of listOfRecipesForSalad">
            <tr *ngIf="itemChosen === 'SALAD'">
            <td>{{food.title}}</td>
                <td><img src="{{food.image}}" height="150" width="170"></td>
                <div *ngIf="food.analyzedInstructions[0] != undefined">
                    <td>
                    <ol>
                        <li *ngFor="let steps of food.analyzedInstructions['0'].steps">
                                    {{ steps.step }}
                        </li>
                    </ol>
                    </td>
                </div>
            </tr>
        </div>

    </table >
</div>
