<div class="container">
  <app-nav></app-nav>
  <button class="btn btn-primary" (click)="clear()">Logout</button>
</div>

<h1> Random Recipe of the day </h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th> Name </th>
      <th> Image </th>
      <th> Instructions </th>
      <th> Ingredients </th>
    </tr>
  </thead>

  <tr *ngFor="let get of listRandomRecipe">
    <td>{{get.strMeal}}</td>
    <td><img src="{{get.strMealThumb}}" height="150" width="170"></td>
    
    <td>{{get.strInstructions}}</td>
    <td>
      <ol>
        <li>{{get.strIngredient1}}</li>
      </ol>
    </td>
   
  </tr>
</table>

<h1> Recipe of the Month </h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th> Name </th>
      <th> Image </th>
      <th> URL </th>
    </tr>
  </thead>

  <tr *ngFor="let get of listMonthRecipe">
    <td>{{get.recipeName}}</td>
    <td><img src="{{get.imageUrl}}" height="150" width="170"></td>
    <td><a href="{{get.sourceUrl}}">Click here for more information</a></td>
  </tr>
</table>

<h1> Three Random Recipes </h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th> Name </th>
      <th> Image </th>
      <th> Instructions </th>
      <th> Ingredients </th>
    </tr>
  </thead>

  <tr *ngFor="let get of listRandomRecipe1">
    <td>{{get.strMeal}}</td>
    <td><img src="{{get.strMealThumb}}" height="150" width="170"></td>
    <td>{{get.strInstructions}}</td>
    <td>
      <ol>
        <li>{{get.strIngredient1}}</li>
        <li>{{get.strIngredient2}}</li>
        <li>{{get.strIngredient3}}</li>
        <li>{{get.strIngredient4}}</li>
        <li>{{get.strIngredient5}}</li>
        <li>{{get.strIngredient6}}</li>
        <li>{{get.strIngredient7}}</li>
      </ol>
    </td>
  </tr>

  <tr *ngFor="let get of listRandomRecipe2">
    <td>{{get.strMeal}}</td>
    <td><img src="{{get.strMealThumb}}" height="150" width="170"></td>
    <td>{{get.strInstructions}}</td>
    <td>
      <ol>
        <li>{{get.strIngredient1}}</li>
        <li>{{get.strIngredient2}}</li>
        <li>{{get.strIngredient3}}</li>
        <li>{{get.strIngredient4}}</li>
        <li>{{get.strIngredient5}}</li>
        <li>{{get.strIngredient6}}</li>
        <li>{{get.strIngredient7}}</li>
      </ol>
    </td>
  </tr>

  <tr *ngFor="let get of listRandomRecipe3">
    <td>{{get.strMeal}}</td>
    <td><img src="{{get.strMealThumb}}" height="150" width="170"></td>
    <td>{{get.strInstructions}}</td>
    <td>
      <ol>
        <li>{{get.strIngredient1}}</li>
        <li>{{get.strIngredient2}}</li>
        <li>{{get.strIngredient3}}</li>
        <li>{{get.strIngredient4}}</li>
        <li>{{get.strIngredient5}}</li>
        <li>{{get.strIngredient6}}</li>
        <li>{{get.strIngredient7}}</li>
      </ol>
    </td>
  </tr>
</table>
-->