
<table class="table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Picture</th>
        <th scope="col">Title</th>
        <th scope="col">Ingradients</th>
        <th scope="col">Calories</th>
        <th scope="col">Coocking Time</th>
        <th scope="col">Allergic</th>
      </tr>
    </thead>
    <tbody >
     
      <tr *ngFor="let recipe of recipes.slice(0,3)" >
        <th scope="row">{{recipe.id}}</th>
        <td><img [src]="recipe.picture" width="50" height="50" alt="food picture" class="rounded-lg" /></td>
        <td>{{recipe.title}}</td>
        <td>{{recipe.ingredients}}</td>
        <td>{{recipe.calories}}</td>
        <td>{{recipe.time}}</td>
        <td>{{recipe.allerg}}</td>
        <td><button (click)="add(recipe.id.value); recipe.id.value=''">
          add
      </button></td>
        <td [formGroup]="myForm">
          
          <input type="checkbox" (change)="onChange(recipe.id, $event.target.checked)">
     
        </td>
      </tr>
    
         <tr >
           <td class="text-right">
        <button type="button" class="btn btn-primary" >Save</button>
      </td>
      </tr>
    </tbody>
 </table>
  <pre>Form values: {{myForm.value | json}}</pre>

