

<div class="panel panel-default" [ngStyle]="{'background-image': getUrl()}"></div>
<div class="container-fluid">
  
  <div class="row">
    <div class="col-12">
        <h2 aling="center">{{title}}</h2>
        <br>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <app-ingrfilter></app-ingrfilter>
    </div>
    <div class="col-4">
      <h2>Recipe of the day</h2>
      <app-randrecipe></app-randrecipe>
    </div>
    <div class="col-4">
      <h2>Recipe of the month</h2>
      <app-randrecipe></app-randrecipe>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>{{recipe}}</h3>
    </div>
    <div class="col-8">
      <app-recipes></app-recipes>
    </div>
  </div>
</div>










