<div class="row justify-content-center">
    <button class="btn btn-primary" routerLink="/caribbean">CARIBBEAN RECIPES</button>
    <button class="btn btn-danger" routerLink="/korean">KOREAN RECIPES</button>
    <button class="btn btn-warning" routerLink="/southern">SOUTHERN RECIPES</button>
    <button class="btn btn-secondary" routerLink="/lactose">LACTOSE-FREE RECIPES</button>
    <button class="btn btn-info" routerLink="/pescatarian">PESCATARIAN RECIPES</button>
    <button class="btn btn-success" routerLink="/vegetarian">VEGETARIAN RECIPES</button>
    <button class="btn btn-light" routerLink="/quick-meals">QUICK N' EASY RECIPES</button>
    <button class="btn btn-dark" routerLink="/by-food-group">RECIPES BY FOOD GROUP</button>
    <button class="btn btn-dark" routerLink="/low-calorie">LOW CALORIE RECIPES</button>
  </div>