
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand">Recipes</span>
        <ul class="navbar-nav">
            <li id="home-link" class="nav-item">
                <a class="nav-link" routerLink="/RandRecipe">Random Recipe</a>
            </li>
            <li id="create-link" class="nav-item">
                <a class="nav-link" routerLink="/Favorites">Favorites</a>
            </li>
            <li id="home-link" class="nav-item">
                <a class="nav-link" routerLink="/Search-recipes">Search Recipe</a>
            </li>
            <li id="create-link" class="nav-item">
              <button class="btn btn-link" (click)="clear()">Logout</button>
            </li>
        </ul>
    </nav>
