<app-nav></app-nav>

<h1> List of favorites</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th> Id </th>
      <th> Search </th>
    </tr>
  </thead>

  <tr *ngFor="let get of listFavoriteRecipes">
    <td>{{get.apiId}}</td>
    <td><button class="btn btn-success" (click)="sendData(get.apiId)">Show Favorite</button></td>
  </tr>
</table>
<p>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th> Name </th>
      <th> Image </th>
      <th> Instructions </th>
    </tr>
  </thead>

  <tr *ngFor="let get of listFavoriteRecipes1">
    <td>{{get.strMeal}}</td>
    <td><img src="{{get.strMealThumb}}" height="150" width="170"></td>
    <td>{{get.strInstructions}}</td>

  </tr>
</table>
